{% import "_includes/forms" as forms %}

{% set extraJs %}
window.FETCH_ZONES_ACTION = "{{ actionUrl('cloudflare/getZones') }}";
window.PURGE_URLS_ACTION = "{{ actionUrl('cloudflare/purgeUrls') }}";
{% endset %}

{% includeJs extraJs %}
{% includeJsResource "cloudflare/js/settings.js" %}
{% includeCssResource "cloudflare/css/settings.css" %}

{% set zoneOptions = craft.cloudflare.getZoneOptions %}

{{ forms.textField({
    first: true,
    label: 'Cloudflare API Key'|t,
    id: 'apiKey',
    required: true,
    name: 'apiKey',
    value: settings.apiKey,
    placeholder: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
    autofocus: true,
    errors: settings.getErrors('apiKey'),
    instructions: "Add your API key, which you'll find in the _My Profile_ section of Cloudflare's interface."
}) }}

{{ forms.textField({
    label: 'Cloudflare Account Email'|t,
    id: 'email',
    required: true,
    name: 'email',
    value: settings.email,
    placeholder: 'foo@foo.com',
    autofocus: true,
    errors: settings.getErrors('email'),
    instructions: "Specify which account email should be used for API requests."
}) }}

<div class="cloudflare-verify{% if zoneOptions | length %} success{% endif %}">
    <a class="btn" id="cf-test">Verify Credentials</a>
</div>

{{ forms.selectField({
    label: 'Cloudflare Zone'|t,
    id: 'zone',
    required: true,
    name: 'zone',
    options: zoneOptions,
    value: settings.zone,
    autofocus: true,
    errors: settings.getErrors('zone'),
    instructions: "Specify which Cloudflare Zone is utilized by this site."
}) }}

{% if settings.apiKey and settings.email and settings.zone %}
    <hr>

    {{ forms.textareaField({
        label: 'Purge Individual URLs'|t,
        id: 'urls',
        required: false,
        name: 'urls',
        autofocus: true,
        errors: settings.getErrors('urls'),
        instructions: "Add complete URLs, each on its own line, that you'd like to clear from Cloudflare's cache."
    }) }}

    <a class="btn warning" id="purge-urls">Purge URLs</a>

    <hr>
    <a href="{{ actionUrl('cloudflare/purgeAll') }}" class="btn warning">Purge Cloudflare Cache</a>

{% endif %}

